.yellow_background{
    background-color: #ffffe0;
    height: 400px;
  }
  
  div{
    height: 20px;
  }
  
  #item1{
    background-color: #dc143c
  }
  
  #item2{
    background-color: coral;
  }
  
  #item3{
    background-color: #ffd700;
  }
  
  #item4{
    background-color: #dc143c
  }
  
  #item5{
    background-color: #dc143c
  }
  
  #item6{
    background-color: #dc143c
  }
  
  #item7{
    background-color: #dc143c
  }
  
  #item8{
    background-color: #dc143c
  }
  
  #item9{
    background-color: #dc143c
  }
  
  #item10{
    background-color: #dc143c
  }